@model Lab03.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<header>Welcome to XYZ Store</header>

<h2>@Model.Message</h2>
<fieldset>
    <legend>Shopping Cart</legend>

    <table>
        <caption>Products in Cart</caption>
        <thead>
        <tr>
            <th>Product</th><th>Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products) {
            <tr>
                <td>@product.Title</td><td>@product.Price</td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td><strong>Total</strong></td><td>@Model.CartTotal</td>
            </tr>
        </tfoot>
    </table>

</fieldset>

<footer>
    <p>&copy; @DateTime.Now.Year - Copyright of XYZ Store</p>
</footer>
