﻿@model MVCMusicStore.Models.Album

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>
    <br />
    <p><b><i>@Model.Title</i></b></p>
    <p>@Model.AlbumArtUrl</p>
    <p><b><i>Artist: </i>@Model.Artist.Name</b></p>
    <p><b><i>Price: </i>@Model.Price</b></p>
</div>

<input type="submit" value="Add to Cart" class="btn btn-default" />

@Html.ActionLink("Back to Browse", "Browse")